{% extends "base.html" %}
{% block content %}
<section class="about">
    <h1>About Us</h1>
    <p>
        Uzi V Cooperations is a tech-driven company based in the heart of Federal Capital Territory of Abuja, Nigeria. 
        Committed to empowering individuals and businesses with cutting-edge digital skills, up-to-date modern digital gadgets, 
        and innovative solutions to a variety of fields which cut across: Businesses, Finances, Health, Agriculture, 
        Research, Hyper-Innovations & Discoveries, Communications, Transportation, Sports, Technology, Climate Conditions 
        and an ever-growing and developing Digital World.
    </p>
</section>
{% endblock %}
