{% extends "base.html" %}
{% block content %}
<section class="contact">
    <h1>Contact Us</h1>
    <ul>
        <li>Email: <a href="mailto:contact@uzivcoop.ng.com">contact@uzivcoop.ng.com</a></li>
        <li>Phone: +234 902 484 6685, +234 805 302 2319</li>
        <li>Instagram: <a href="https://instagram.com/uzivco" target="_blank">@uzivco</a></li>
        <li>Twitter (X): <a href="https://x.com/uzivco" target="_blank">@uzivco</a></li>
        <li>Facebook: <a href="https://facebook.com/uzivcoop" target="_blank">@uzivcoop</a></li>
        <li>LinkedIn: <a href="https://linkedin.com/company/uzivcooperations" target="_blank">uzivcooperations</a></li>
        <li>Location: Plot B10F4, No. 14 Olayekunmi Marade Avenue, CBD District, Abuja.</li>
    </ul>
</section>
{% endblock %}
