{% extends "base.html" %}

{% block title %}Services - UV Cooperations{% endblock %}

{% block content %}
<section class="services">
  <h1>Our Services</h1>
  <div class="cards">
    <div class="card">
      <h2>AI & Automation</h2>
      <p>Smart automation tools powered by AI to increase efficiency.</p>
    </div>
    <div class="card">
      <h2>Data Analytics</h2>
      <p>Turn raw data into insights with powerful dashboards.</p>
    </div>
      <div class="card">
      <h2>Machine Learning</h2>
      <p>Explore diverse programing language, build strong bots & powerful setup systems.</p>
    </div>
    <div class="card">
      <h2>Software Development</h2>
      <p>Custom-built web and mobile apps for businesses of all sizes.</p>
    </div>
    <div class="card">
      <h2>Cybersecurity</h2>
      <p>Protect your business from cyber threats with modern defense strategies.</p>
    </div>
  </div>
</section>
{% endblock %}
